 <form class="formulario" action="/user/register" method="POST">
        <h1>Registro</h1>
        <div class="contenedor">
            <div class="input-contenedor">
                <i class="fas fa-user icon"></i>
                <input type="text" name="name" placeholder="Introduzca su nombre">
            </div>
            <div class="input-contenedor">
                <i class="fas fa-user icon"></i>
                <input type="text" name="lastname" placeholder="Introduzca su apellido">
            </div>
            <div class="input-contenedor">
                <i class="fas fa-id-card icon"></i>
                <input type="number" name="taxid" placeholder="Introduzca su documento">
            </div>
            <div class="input-contenedor">
                <i class="fas fa-home icon"></i>
                <input type="text" name="address" placeholder="Introduzca su dirección">
            </div>
            <div class="input-contenedor">
                <i class="fas fa-envelope icon"></i>
                <input type="text" name="email" placeholder="Introduzca su correo electronico">
            </div>
            <div class="input-contenedor">
                <i class="fas fa-key icon"></i>
                <input type="password" name="pass" placeholder="Introduzca una contraseña">
            </div><br></br>
            <input type="submit" value="Aceptar" class="button">
            <p>Al realizar el registro acepta nuestras condiciones de uso y políticas de privacidad</p>
            <p>¿Ya tiene cuenta?<a class="link" href="/"> Iniciar Sesión</a></p>
        </div>
    </form>