<form class="formulario" action="/user" method="POST">
    <h1>Login</h1>
    <div class="contenedor">
        <div class="input-contenedor">
            <i class="fas fa-envelope icon"></i>
            <input type="text" name="username" placeholder="Email">
        </div>
        <div class="input-contenedor">
            <i class="fas fa-key icon"></i>
            <input type="password" name="pass" placeholder="Contraseña">
        </div><br></br>
        <input type="submit" value="Iniciar Sesión" class="button">
        <p>Al realizar el registro acepta nuestras condiciones de uso y políticas de privacidad</p>
        <p>¿Ya tiene cuenta?<a class="link" href="/userRegister"> Registrese</a></p>
    </div>
</form>